html, body {
    margin: 0;
    padding: 0;
}
body {
	background: #fff;
	color: #000;
	margin: 0px;
	padding: 0px;
	direction: ltr;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 12px;
	line-height: 1.182;
	font-weight: normal;
	-webkit-font-smoothing: subpixel-antialiased;
}
@media screen and (min-width: 1024px) {
    div.page {
        width: 960px;
        margin-left: auto;
        margin-right:auto;
    }
}
a {
  color: #2B587A;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
img {
  border: 0px;
}
form {
  margin: 0px;
  padding: 0px;
}
hr {
    margin: 10px 0;
}
div.bottom {
    text-align: center;
}
.debug-link{
    font-size: 8pt;
}
div.logo {
    background: url('/img/system_64x64.png') no-repeat;
    min-height: 54px;
    padding-top: 10px;
    padding-left: 70px;
    float: left;
    font-size: 32px;
    color: #2B587A;
}
.clear {
  float: none;
  clear: both;
}
.auth-links {
    float: right;
    font-size: 16px;
    margin-top: 26px;
    margin-right: 20px;
}
.auth-links a {
	margin: 0px 10px;
}

#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
  top: 0;
  left: 0;
}
#boxes .window  {
	min-height: 100px; 
	background: url("/img/css/fon-modal.png") repeat-x scroll 0 0 #e2e1df; 
	-moz-border-radius: 15px;   
	-webkit-border-radius: 15px;   
	-khtml-border-radius: 15px;   
	border-radius: 15px;
    position: fixed;  
    left:0;  
    top:0;   
    display:none;  
    z-index:9999;  
    padding:20px;
}
#boxes #dialog {
  width:500px; 
  height:300px;
}
.close-link { width: 24px; height: 24px; cursor: pointer; position: absolute; top: 5px; right: 5px ;background:url(/img/ico/close.png); }
.loading {
    background: url('/img/css/upload_inv_mono.gif') no-repeat bottom;
    min-height: 100px;
}
.dialogTitle {
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	color: #2B587A;
}
.input-label {
    font-weight: bold;
	font-size: 1.09em;
	color: #2B587A;
	padding-bottom: 6px;
	padding-top: 10px;
	width: 200px;
}
.input-field {
    position: relative;
    min-height: 47px;
}
#dialog form {
	width: 228px;
	margin: 0px auto;
}
#dialog form input {
	font-size: 12px; 
	padding-left: 10px; 
	padding-right: 10px; 
	display: block; 
	float: left; 
	width: 176px; 
	height: 22px; 
	margin-bottom: 1px; 
	margin-top:5px;
	box-shadow:inset 1px 1px 3px 0px #bcbcbc; 
	-moz-box-shadow:inset 1px 1px 3px 0px #bcbcbc;  
	-webkit-box-shadow:inset 1px 1px 3px 0px #bcbcbc;
}
#dialog form label {
    text-align: left;
    width: auto;
    display: inline;
    float: none;
    margin: 10px 10px;
    font-size: 12px;
    color: #CCCCCC;
    position: absolute;
    left: 2px;
    top: 2px;
    *top: 4px;
    *left: 4px;
    cursor: text;
}
.input-button {
    margin-top: 10px;
    display: block;
	position: relative;
	line-height: normal;
	zoom: 1;
}
.input-button button {
	width: 200px;
    padding: 7px 16px;
}
.fieldCheckStatusChecking { background: url(/img/ico/fieldcheck/redo.gif); margin: 7px 3px; width: 22px; height: 22px; display: block; float: left; }
.fieldCheckStatusOk { background: url(/img/ico/fieldcheck/apply.png); margin: 7px 3px; width: 22px; height: 22px; display: block; float: left; }
.fieldCheckStatusError { background: url(/img/ico/fieldcheck/button_cancel.png); margin: 7px 3px; width: 22px; height: 22px;display: block; float: left;  }
.fieldCheckStatusText {color: red; font-size: 10px; display: block; clear: both;}
.dialogMessageBox {
	position: relative;
	}
.dialogMessageBorder {
    background-color: rgb(244, 235, 189);
    border: 1px solid;
    border-color: rgb(212, 188, 76);
    padding: 8px 11px;
    opacity: 0;
    position: absolute;
    top: 0px;
}
.dialogMessage {
    line-height: 140%;
    padding: 8px 11px;
    position: relative;
}
.button-wait {
	display: none;
}
.indexpage-title {
	font-size: 20px;
	text-align: center;
}
.indexpage-image {
    float: left;
}
.indexpage-step1 {
    float: right;
}
div.balance-title {
	font-weight: bold;
}
.balance-sum {
	font-size: 14px;
	font-weight: bold;
}
.balance-links {
	font-size: 13px;
}
div.balance-container {
    float: left;
}
.customer-step2 {
    float: left;
    margin-left: 20px;
}
.customer-right-panel, .executor-right-panel {
    float: right;
    text-align: right;
}
.customer-step3 {
    float: left;
    margin-top: 20px;
}
.customer-order-title, .executor-order-title {
    font-weight: bold;
}
.customer-order-count, .executor-order-count {
	font-size: 14px;
    font-weight: bold;
}
.background-step4 {
	background: url('/img/step4.jpg') no-repeat top;
	min-height: 352px;
}
.customer-register-executor {
    margin-top: 250px;
    width: 250px;
}
.bottom-links {
    text-align: right;
}
.table-orders-container {
    width: 600px;
    margin-left: auto;
    margin-right:auto;
    min-height: 900px;
}
.table-orders-message {
    text-align: center;
    margin-bottom: 10px;
}
.table-orders {
    margin-top: 10px;
}
.table-sort-options {
	font-size: 13px;
}
.sort-option {
    padding: 4px 6px;
}
.sort-option a:hover {
    color: #CC0000;
}
.sort-option.active {
    background: #e8e8e8;
}
.sort-option:before {
	content: ' ';
    display: inline-block;
    margin-right: 4px;
    width: 13px;
}
.sort-option.ASC:before {
    content: "\25B2";
}
.sort-option.DESC:before {
	content: "\25BC";
}
.table-orders span.col-date, .table-orders span.col-action {
    width: 135px;
    display: inline-block;
    text-align: center;
    padding: 0 5px;
}
.table-orders span.col-number {
    width: 55px;
    display: inline-block;
    text-align: center;
    padding: 0 5px;
}
.table-orders span.col-cost {
    width: 215px;
    display: inline-block;
    text-align: center;
    padding: 0 5px;
}
.table-orders-head span {
	font-weight: bold;
}
.table-orders-row {
	margin-top: 10px;
	padding: 5px 0 5px;
	border-bottom: 1px solid #DAE1E8;
}
.table-orders-row span {
    font-size: 14px;
}
.table-orders-row span.col-cost {
    font-size: 16px;
}
.table-orders-row span.col-date div.date-time {
    font-size: 12px;
}
.table-orders-row span.cost-penny {
    font-size: 12px;
}
.scrollable .scroll-wait {
   display: none;
   text-align: center;
   margin: 20px 0px;
}