[settings]
; Собирать отладочную информацию (SQL запросы и т.п.)
debug = 1

[database1]
host     = "127.0.0.1"
port     = 3306
username = "vk"
password = "*****"
dbname   = "test_vk1"

[database2]
host     = "127.0.0.1"
port     = 3306
username = "vk"
password = "*****"
dbname   = "test_vk2"
